<h1>Posts#show</h1>

<%= link_to "Retour", posts_path %>

<%= link_to "Creer children", new_post_post_path(@post) %>

<div>
  Post #<%= @post.id %> le <%= time_ago_in_words(@post.created_at) %>
  <p><%= @post.content %></p>
</div>
